In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
health = pd.read_csv('healthcare_datasets.csv')

In [4]:
health.head()

,Patient_ID,Age,Gender,Blood_Pressure,Cholesterol,Condition
0,0f5343ac-b858-4726-b8e6-d0e5a7cd73ff,84,Male,95,157,Hypertension
1,ff6cbae7-14d6-486d-a03b-c174dce2b9c0,40,Male,163,285,NaN
2,cc32f20a-c701-4398-85cc-30cfe5e7a62a,72,Male,NAN,168,NaN
3,93c316b3-c2ff-42a9-9895-7ce3e3d6cd8a,39,Male,118,288,Diabetes
4,044838d9-29a8-46da-8d74-18705c8df5d7,28,Female,128,229,Diabetes

In [5]:
# Condition "None" is imported as "NaN" in the pandas dataframe

In [6]:
health.shape

(3021, 6)

## Removing Duplicates

In [7]:
# total number of duplicates
no_of_duplicates = int(health.duplicated().sum())
no_of_duplicates

20

In [22]:
health = health.drop_duplicates()
health.shape

(3001, 5)

In [10]:
# removed 20 duplicate rows

## Handling Missing Values

In [11]:
# Patient_ID is not required to train the model
health = health.drop(columns = ['Patient_ID'])

In [12]:
health.head(15)

   Age  Gender Blood_Pressure Cholesterol     Condition
0   84    Male             95         157  Hypertension
1   40    Male            163         285           NaN
2   72    Male            NAN         168           NaN
3   39    Male            118         288      Diabetes
4   28  Female            128         229      Diabetes
5   60    Male             91         156           NaN
6   18  Female            117         119           NaN
7   45  Female            101         170  Hypertension
8   77  Female             99         278  Hypertension
9   90    Male            120         133           NaN
10  52  Female            114         118      Diabetes
11  90     NAN            170         130      Diabetes
12  18    Male             90         284      Diabetes
13  89    Male            172         159      Diabetes
14  18    Male            125         265      Diabetes

In [13]:
list(health['Condition'].unique())

['Hypertension', nan, 'Diabetes']

In [14]:
health['Condition'].fillna('No Condition', inplace = True)

C:\Users\Jakkala\AppData\Local\Temp\ipykernel_13876\1721303609.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  health['Condition'].fillna('No Condition', inplace = True)

In [15]:
# there are missing values with "NAN" which is not considered as null

In [16]:
health.replace("NAN", np.nan, inplace = True)

In [17]:
health.isnull().sum()

Age               2
Gender            4
Blood_Pressure    3
Cholesterol       2
Condition         0
dtype: int64

In [18]:
int(health.isnull().sum().sum())

11

In [ ]:
#percentage_missing = (health.isnull().sum().sum() / health.shape[0]) * 100
#float(percentage_missing)

0.3665444851716095

In [ ]:
# we need to impute the missing values

In [21]:
# Condition is a categorical column